.title-only-hero {
    width:100%;
    position:relative;
    padding: 64px 0;
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet {
        padding: 96px 0;
    }
    @include full-width{
        padding: 111px 0;
    }
    @include full-width-xl{
        padding: 143px 0;
    }
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;

        .page-title,
        .page-description {
            color:$white;
            text-align: center;
        } 
    }
    
}
.short-right{
    background-image: url("../../assets/images/small-hero-section-bg-3-mobile.svg");
    @include tablet{
        background-image: url("../../assets/images/small-hero-section-bg-3.svg");
    }
   
}
.short-left{
    background-image: url("../../assets/images/small-hero-section-bg-1-mobile.svg");
    @include tablet{
        background-image: url("../../assets/images/small-hero-section-bg-1.svg");
    } 
}
.long-right{
    background-image: url("../../assets/images/small-hero-section-bg-4-mobile.svg");
    @include tablet{
        background-image: url("../../assets/images/small-hero-section-bg-4.svg");
    }
}
.long-left{
    background-image: url("../../assets/images/small-hero-section-bg-2-mobile.svg");
    @include tablet{
        background-image: url("../../assets/images/small-hero-section-bg-2.svg");
    }
}
.centered{
    background-image: url("../../assets/images/small-hero-section-bg-5-mobile.svg");
    @include tablet{
        background-image: url("../../assets/images/small-hero-section-bg-5.svg");
    }
} 